.left-side {
    background-color: #F7F7F7;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-bottom: 150px;
    margin-top: 30px;
    border: 3px solid #E6ECF0;
}

.right-side{
   background-color: #F7F7F7;
   border-radius: 5px;
   padding-bottom: 20px !important;
   border: 3px solid #E6ECF0;
   margin-top: 30px;
   overflow: hidden;
}


.table-header h3 {
    font-weight: 700;
    font-size: 1.1em;
    margin: 20px 20px;
    text-align: center;
    text-transform: uppercase;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.totalTab table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:10px !important;
    -webkit-border-bottom-left-radius:10px !important;
    border-bottom-left-radius:10px !important;
}

.totalTab table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:10px !important;
    -webkit-border-bottom-left-radius:10px !important;
    border-bottom-left-radius:10px !important;
}

.totalTab table tr:last-child td:last-child{
    -moz-border-radius-bottomright:10px !important;
    -webkit-border-bottom-right-radius:10px !important;
    border-bottom-right-radius:10px !important;
}

.totalTab .active{
   font-weight: bolder;
}

.whiteBg{
   background-color: #fff;
}

.light-blue{
   color: #1abc9c;
}

.text-bold{
   font-weight: 700;
}

.btn-green{
   color: #fff;
   background-color: #4cb050;
   border: none;
}

.btn-green:hover{
   color: #fff;
   background-color: #40D47E;
}

.btn-red{
   color: #fff;
   background-color: #e72b2c;
   border: none;
}

.btn-red:hover{
   color: #fff;
   background-color: #FF7676;
}

.btn-default{
   color: #fff;
   background-color: #6c757d;
   border: none;
}

.btn-default:hover{
   color: #fff;
   background-color: #5a6268;
   border-color: #545b62;
}

.categories {
    cursor: pointer;
    text-align: center;
    margin: 5px 2px;
    padding: 10px 20px;
    background-color: #4C5261;
    border-radius: 3px;
    color: #E4E6E7;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;
    padding-bottom: 7px;
    border-bottom: 3px solid #212C32;
}

.product{
   height: 100%;
   width: 100%;
   border-radius: 8px;
   text-align: center;
   /*background-size: contain;*/
   background-color: #a2c5e8;
   margin: 5px;
   color: #fff;
   overflow: hidden;
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}

.product h3{
   display: inline-block;
   font-weight: 700;
   font-size: 0.9em;
   text-transform: uppercase;
   -webkit-transition: all 0.1s ease-in-out 0.1s;
   -moz-transition: all 0.1s ease-in-out 0.1s;
   -o-transition: all 0.1s ease-in-out 0.1s;
   -ms-transition: all 0.1s ease-in-out 0.1s;
   transition: all 0.1s ease-in-out 0.1s;
}

.product:hover h3{
   opacity: 1;
}

.product:hover{
   -webkit-box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.53);
   -moz-box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.53);
   box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.53);
}

.product_contain{
  margin: 5px 0;
}

/*.productD{
      margin-left: -15px;
      margin-top: -25px;
}

.textPD{
   margin-top: 5px;
   float: left;
}*/

.delete-product{
   color: #f65e48;
   margin-top: 1px;
}

.product-details {
    border: none;
    margin-bottom: 3px;
    color: #81909a;
}

.product-details input[type="text"] {
    width: 2.1em;
    padding: 3px;
    display: inline;
    text-align: center;
    height: 1.8em;
}

.subtotal{
   float: right;
}

.caculate{
  margin: 5px 0px;
}

.payment-div{
  padding: 10px;
  font-size: x-large;
}
.payment-div button{
  font-size: x-large;
}

.topping-text{
  font-size: 90%;
}